#console_detail_body {
    height: 1fr;
    padding: 1;
}

#console_detail_section_providers,
#console_detail_section_cores,
#console_detail_actions {
    padding-top: 1;
}

#console_provider_table,
#console_bios_table {
    height: 0.5fr;
}

#console_detail_actions {
    align: left middle;
}
