#rom_explorer_screen,
#global_search_screen,
#console_select_screen {
    layout: vertical;
}

Container {
    padding: 0 1;
    height: 1fr;
}

#label {
    padding: 0 1;
    min-height: 2;
}

Input {
    margin: 1 1 0 1;
}

DataTable {
    height: 1fr;
    margin: 1;
}
