#storage_container { height: 1fr; }
#storage_split { height: 1fr; }
#frontend_table {
    width: 35%;
    min-width: 30;
}
#storage_detail {
    width: 65%;
    padding: 1;
}
#storage_detail Input {
    width: 1fr;
}
#storage_detail Horizontal Button {
    width: 3;
}
