#panel_container {
    padding: 1 2;
    height: 1fr;
}

#panel_status {
    padding: 1;
    border: solid gray;
    margin-bottom: 1;
}

#update_table,
#rom_table,
#global_rom_table,
#provider_table {
    height: 1fr;
    border: solid gray;
}
